// Define variables for your color scheme

//colors
  $color-dark: hsl(15, 8%, 17%);
  $color-red: #FF3030;
  $color-light: #F1F2F6;
  $color-white: #FCFCFC;
  $color-dark-transparent: hsla(14, 8%, 50%, 17%);
  $color-border-transparent: rgba(138, 122, 117, 0.203);
  $color-blue-message: #E5F1FF;

  // $sticky-top-left: 5.4rem;
  // sticky-top-right: -18rem;

  // border-radius: 15px;

  // letter-spacing-category: 0.1rem;

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
