// Import page-specific CSS files here.
@import "home";
@import "homepage";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  font-family: 'Inter', sans-serif;
}

body {
  font-weight: 400;
  color: $color-dark;
  background: $color-light;
  overflow-x: hidden;

  h1 {

  }

  h2 {
    font-size: 22px;
    font-weight: 400;
  }

  h3 {
    font-size: 16px;
    font-weight: 400;
  }

  h4 {
    font-size: 1rem;
    font-weight: 300;
  }

  p {
    font-size: 13px;
    font-weight: 300;
  }
  a {
    text-decoration: none;
  }
}
