<ul>
  <% current_user.channelusers.first(6).each do |element| %>
    <div class="channel-avatar">
      <%= cl_image_tag element.channel.photo.key, height: 50, crop: :fill %>
      <div class="channel-text">
        <h4 class="channel-title">@<%= link_to element.channel.name, channel_path(element.channel) %></h4>
      </div>
    </div>
  <% end %>
</ul>
