<div class="channel-banner">
  <div class="channel-avatar">
    <img src="./assets/user-photo.avif" alt="user avatar">
    <div class="channel-text">
      <h4 class="channel-title">Anna's painting corner</h4>
    </div>
  </div>
</div>
