<div class="creator-box">
  <div class="creator-photo">
    <%= cl_image_tag @channel.photo.key, class: "img", height: 80 %>
    <%# <img src="./assets/creator-photo.avif" alt="creator photo"> %>
  </div>
  <div class="creator-text">
    <h4>@<%= @channel.name %></h4>
    <p><b><%= @channel.channelusers.count %></b> fans</p>
  </div>
  <div class="creator-description">
    <h3 class="title-category">BIO</h3>
    <p class="bio-description"><%= @channel.description %></p>
  </div>
<%# to import from ali %>

  <a href="#" class="our-button">unsubscribe</a>

<%# to import from ali %>

</div>
