<div class="creator-box">
  <div class="creator-photo">
    <img src="./assets/creator-photo.avif" alt="creator photo">
  </div>
  <div class="creator-text">
    <h4>@petrathesinger</h4>
    <p><b>1234</b> followers</p>
  </div>
  <div class="creator-description">
    <h3 class="title-category">BIO</h3>
    <p class="bio-description">I am such a cool singer pls share my content</p>
  </div>
<%# to import from ali %>

  <button>Subscribe</button>

<%# to import from ali %>

</div>
