<div class = "feed-container">
  <% if current_user == @channel.user %>
    <h1>Hi <strong><%= current_user.username %></strong> do you want to link your Instagram feed to Lovsquad?</h1>
  <% end %>
  <div class="fb-link">
    <a href="https://api.instagram.com/oauth/authorize?client_id=425954065799626&redirect_uri=<%=ENV['INSTAGRAM_REDIRECT_URI']%>/code?=channel=<%=@channel.id%>&scope=user_profile,user_media&response_type=code" class="our-button">FB</a>
    </div>
    </div>
    <div class="row">
    <% @channel.posts.each do |post| %>
    <%# <div style="background-image"> %>
      <div class="col-4">
      <img src= <%= post.url %> class="w-100" >
      <a href="/" class="our-button feed-button" >Share</a>
      </div>
    <%# </div> %>
      <% end %>
    </div>
</div>
