<%# <div class="fan-avatar">
  <img src="./assets/user-photo.avif" alt="user avatar">
  <div class="fan-text">
    <h4 class="fan-username">@alana54</h4>
    <p class="online-status">online</p>
  </div>
</div> %>

<ul>
  <% @channel.channelusers.each do |member| %>
    <div class="fan-avatar">
      <%= cl_image_tag member.user.profile_picture.key, height: 50, crop: :fill %>
      <div class="fan-text">
        <h4 class="fan-username">@<%= member.user.username %></h4>
      </div>
    </div>
  <% end %>
</ul>


<ul>
  <% @channel.channelusers.each do |member| %>
    <li>
      <%= cl_image_tag member.user.profile_picture.key, height: 500, crop: :fill %>
      <%= member.user.email %>
    </li>
  <% end %>
</ul>
