<div class="fan-avatar">
  <img src="./assets/user-photo.avif" alt="user avatar">
  <div class="fan-text">
    <h4 class="fan-username">@alana54</h4>
    <p class="online-status">online</p>
  </div>
</div>
