<div class="reward-container">
  <h3 class="title-reward-block">Welcome in the reward store, here you can redeem your coins for anything you want!</h3>
  <div class="rewardcard">
    <div class="rewardcard-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path reward.photo.key %>')">
    </div>
    <div class="rewardcard-text">
      <h4> <%= reward.name %></h4>
    </div>
    <div class="rewardcard-bottom">
      <h4><%= reward.price %> <i class="fas fa-coins"></i></h4>
      <%# <a href="#" class="our-button">Redeem</a> %>
      <% if Coin.find_by(user:current_user,channel:@channel).balance >= reward.price %>
        <%= link_to "redeem", coin_path(Coin.find_by(user:current_user,channel:@channel), data: {id: reward.id}), method: :patch %>
      <% else %>
        <p>not enough funds</p>
      <% end %>
    </div>
  </div>
</div>
