<div class="reward-container">
<div class="rewardcard">
  <div class= "rewardcard-img" style="background-image: url('https://images.unsplash.com/photo-1513789181297-6f2ec112c0bc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=988&q=80')">
  </div>
  <div class="rewardcard-text">
    <h4> Enjoy 20% off for this awesome hoodie!</h4>
  </div>
  <div class="rewardcard-bottom">
    <h4>25 <i class="fas fa-coins"></i></h4>
    <%# <a href="#" class="our-button">Redeem</a> %>
     <a href="#" class="redeem-btn">Redeem</a>
  </div>
  </div>
</div>
