<div class="blog-card">
    <div class="description">
        <h3> @TheGreatestArtist </h3>
      <p> Join my channel to get insane entertainment and laods of discounts.</p>
        <p>
          <a href="#" class="our-button">Follow</a>
      </p>
    </div>
  </div>
























<%# <div class="searche-container">
  <div class="result-container">
    <div class="result-image">
      <img src="https://images.unsplash.com/photo-1551180452-aea351b23949?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80" alt="artist">
    </div>
      <div class="result-text">
        <h3>We are trying really hard!</h3>
        <h4>Please join my channel otherwise I will get poor and will have no food or shelter</h4>
        <div class="result-bottom">
          <h4>541 fans</h4>
          <button>Follow</button>
        </div>
      </div>
  </div>
</div> %>
