<%# <div class="search-result-container">
  <div class="result-card">
    <div class= "result-img" style="background-image: url('https://images.unsplash.com/photo-1513789181297-6f2ec112c0bc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=988&q=80')">
    </div>
    <div class="result-text">
      <h4> DescritpionDescritpionDescritpionDescritpionDescritpionDescritpionDescritpion</h4>
    </div>
    <div class="result-bottom">
      <h4>25 <i class="fas fa-coins"></i></h4>
      <%# <a href="#" class="our-button">Redeem</a> %>
      <%# <a href="#" class="redeem-btn">Redeem</a>
    </div>
  </div>
</div> %>
