<div class="tabs-container">
  <div class="tab-left">
  <h2 class="active-tab">CHATBOX</h2>
  </div>
  <div class="tab-middle">
  <h2 class="inactive-tab">FEED</h2>
  </div>
  <div class="tab-right">
  <h2 class="inactive-tab">STORE</h2>
  </div>
</div>
