<div class="home-container">
  <div class="title-description">
    <h2>Welcome back to <span>lovsquad</span>, @<%= current_user.username %>!</h2>
    <h3>Select a channel:</h3>
  </div>
  <div class="grid-homepage">
    <%=render "shared/search_results" %>
    <%=render "shared/search_results" %>
    <%=render "shared/search_results" %>
  </div>
</div>
