<div class="home-container">
    <div class="image-banner">
      <div class="title-description">
        <h2>Welcome back to <span>lovsquad</span>, @<%= current_user.username %>!</h2>
        <h1 class="big-title">CREATE YOUR OWN CHANNEL TODAY AND START <mark>BUILDING YOUR COMMUNITY</mark>!</h1>
        <div class="create-center">
          <a href="#" class="create-btn">Create a new channel</a>
        </div>
        <h3>or simply visit an existing one and <span>start supporting your favorite creators</span> and earn <span>rewards</span>!</h3>

        <%# <h3>Select a channel:</h3> %>

        <%# <img src="https://images.unsplash.com/photo-1592329347810-258afdd206bb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2831&q=80" alt="homepage banner"> %>
      </div>

    </div>
    <%= render "shared/index" %>
  </div>
