<div class="home-container">
  <img src="https://images.unsplash.com/photo-1592329347810-258afdd206bb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2831&q=80" alt="homepage banner">
  <div class="title-description">
    <h2>Welcome back to <span>lovsquad</span>, @<%= current_user.username %>!</h2>
    <h3>Select a channel:</h3>
  </div>
  <div class="grid-homepage">
    <%=render "shared/search_results" %>
    <%=render "shared/search_results" %>
    <%=render "shared/search_results" %>
  </div>
</div>
