.feed-container {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  width: auto;
  border-radius: 10px;
  border: 1px solid $color-border-transparent;
}
