.sender{
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .message-content {
    display: flex;
    background-color: $color-blue-message;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    p {
      margin-bottom: 0px;
    }
  }
}

.receiver{
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .message-content {
    display: flex;
    background-color: $color-grey-message;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    p {
      margin-bottom: 0px;
    }
  }
}

.message-box {
  img {
    width: 5rem !important;
    aspect-ratio: 1/1 !important;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
  }
  .posted-date {
    text-align: right;
    align-content: flex-end;
    font-size: 10px;
  }
}

.fan-avatar img {
  width: 2rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  border: 2px solid $color-border-transparent;
  margin-right: 3px;
}
