nav {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  background: white;
  padding: 0.7rem 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  }
  .search-bar {
    // background-color: var(--color-white);
    background-color: white;
    border-radius: 25px;
    padding: 0.6rem 1rem;
    border: 1px solid $color-dark-transparent;
    color: $color-dark-transparent;
  }

  input[type="search"] {
    background: transparent;
    width: 30vw;
    margin-left: 1rem;
    font-size: 0.9rem;
    color: $color-dark-transparent;
  }

  ::placeholder {
    color: $color-dark-transparent;
  }
  .logo-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  img {
    width: 3vw;
    aspect-ratio: 1/1;
    overflow: hidden;
    object-fit: contain;
  }
  .log {
    color: $color-red;
    margin: 0%;
    padding-left: 2rem;
  }
}

.right-navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3vw;
  img {
    width: 2.7rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
  }
  p {
    margin: 0%;
  }
}
