.our-button {
  padding: 10px 32px 10px 32px;
  // margin-top: 25px;
  background-color: $color-red;
  color: white;
  border-radius: 10px;
  font-size: 12px;
  text-align: center;
  a:hover {
    color: $color-white !important;
  }
}
